<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form> 
                <h:dataTable var="e" value="#{obj.employees}"> 
                    <h:column> 
                        <f:facet name="header">Name</f:facet> 
                        <h:outputText value="#{e.name}"/> 
                    </h:column> 
                    
                    <h:column> 
                        <f:facet name="header">ID</f:facet> 
                        <h:outputText value="#{e.id}"/> 
                    </h:column> 
                </h:dataTable> 
            </h:form>
        </f:view>

    </h:body>
</html>

